.loginandsignin {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.login--header {
    margin: 2rem;
}

.login--header h1 {
    font-size: 4rem;
    color: blue;
}

.login--header p {
    margin: 2rem 0 0 3rem;
    font-size: 1.8rem;
}

.login--header img {
    height: 22rem;
}

.login-container {
    background: #fff;
    padding: 30px ;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    height: 400px;
    color: #fff;
    border: 1px solid black;
}

.logo {
    font-size: 40px;
    margin: 2rem 0 3rem 0;
    color: black;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
}


.login-container input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid rgb(160, 156, 156);
    border-radius: 5px;
    background: rgba(29, 6, 231, 0.1);
    color: black;
    font-size: 16px;
}

.login-container input:focus {
    outline: none;
}


.btn {
    width: 105%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: blue;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.3rem;
}

.btn:hover {
    background: #858383;
}


.links {
    display: flex;
    margin-top: 19px;
    font-size: 14px;
}

.links p {
    color: blue;
    text-decoration: none;
    margin: 0 5px;
}

.links p:hover {
    text-decoration: underline;
}